# Demo of configuration file. Comments start with #

# above blank line was ignored.

::includes
fonts.googleapi.com
registry.npmjs.org
caspia.org


::excludes
google.com
google-analytics.com
\.sellads.com

::nocaches
services.mozilla.org

# match .ed domain, with or without a trailing slash.
::directs
\.ed\/?$
