# Template for file url.config. Copy this file to url.config and modify.

# Regular expressions of urls to include, meaning cached content is used if available,
#   or the internet content is processed and cached if available.
::includes
.*

# Regular expressions of urls to exclude, attempts to access will return code 522
::excludes
(^|[.-\w\/])services\.mozilla\.com
(^|[.-\w\/])buysellads\.net
(^|[.-\w\/])carbonads\.com
(^|[.-\w\/])connect\.facebook\.net
(^|[.-\w\/])adroll\.com
(^|[.-\w\/])doubleclick\.net
(^|[.-\w\/])carbonads\.net
(^|[.-\w\/])googleadservices\.com
(^|[.-\w\/])google-analytics\.com
(^|[.-\w\/])addons\.mozilla\.org
(^|[.-\w\/])dropbox\.com
(^|[.-\w\/])getpocket\.cdn\.mozilla\.net
(^|[.-\w\/])accounts\.firefox\.com
(^|[.-\w\/])telemetry.mozilla.org

# Regular expressions of urls to process via internet but not cache.
::nocaches
(^|[.-\w\/])blocklist\.addons\.mozilla.org
(^|[.-\w\/])versioncheck-bg\.addons\.mozilla.org

# Regular expressions of urls to always fully process direct (no cache) even while offline.
# This is intended to support the .ed domains made available by nginx-proxy.
::directs
\.ed\.?$
