# Template for file url.config. Copy this file to url.config and modify.

# Regular expressions of urls to include, meaning cached content is used if available,
#   or the internet content is processed and cached if available.
::includes
.*

# Regular expressions of urls to exclude, attempts to access will return code 522
::excludes
services.mozilla.org
\.buysellads.net
\.carbonads.com
connect.facebook.net
\.adroll.com
\.doubleclick.net
\.carbonads.net
googleadservices.com
google-analytics.com

# Regular expressions of urls to process via internet but not cache.
::nocaches
blocklist.addons.mozilla.org
versioncheck-bg.addons.mozilla.org

# Regular expressions of urls to always fully process direct (no cache) even while offline.
# This is intended to support the .ed domains made available by nginx-proxy.
::directs
\.ed\.?$
addons.mozilla.org
services.addons.mozilla.org
