# Template for file url.config. Copy this file to url.config and modify.

# Regular expressions of urls to include, meaning cached content is used if available,
#   or the internet content is processed and cached if available.
::includes
.*

# Regular expressions of urls to exclude, attempts to access will return code 403, forbidden.
. 

# Regular expressions of urls to process via internet but not cache.
services.mozilla.org